$gradient: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
$blue: #205274;
$lightblue: #2685d0;
$purple: #5668f2;
$br: 5px;
$bgColorLight: #ededed;
$bgColorDark: black;
$colorLightTheme: black;
$colorDarkTheme: white;
$defaultFont: 1.1em;
$defaultH3: 1.3em;
$defaultH2: 24px;
$bigFont: 1.5em;
$bigH3: 24px;
$bigH2: 1.3em;
