html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 70%;
  align-items: center;
  float: right;
  // background-color: #1a1a1d;
  background: url("./seniorPic.jpeg") no-repeat center center fixed;
  // height: 600px;
  opacity: 0.8;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 110% !important;
}

.joinInnerContainer {
  position: absolute;
  left: 40px;
  width: 25%;
}

.joinInput {
  border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
}

input {
  border: 2px solid #5668f2;
}

.heading {
  color: black;
  font-size: 3em;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.ui.checkbox {
  outline: #5668f2 !important;
}

.ui.secondary.button {
  margin-top: 60px;
  border: 3px solid #5668f2;
  background-color: transparent;
  color: #5668f2;
  font-size: 1.3em;
}

.ui.secondary.button:hover {
  border: 3px solid #5668f2;
  background-color: #5668f2;
  color: white;
}

// .btnBordered {
//   background-image: -webkit-gradient(
//     linear,
//     left top,
//     right top,
//     from(#b77dfb),
//     to(#5668f2)
//   );
//   background-image: linear-gradient(to right, #b77dfb, #5668f2);
//   -webkit-transition: all 0.5s ease-out;
//   transition: all 0.5s ease-out;
// }
.btn {
  height: 52px;
  position: relative;
  border-radius: 5px;
  width: 100%;
  letter-spacing: 0.6px;
  box-shadow: none;
  margin-top: 60px;
}
// .btnL {
//   max-width: 220px;
//   width: 100%;
// }
// .btnBordered .btnMask {
//   position: absolute;
//   top: 2px;
//   left: 2px;
//   right: 2px;
//   bottom: 2px;
//   border-radius: 3px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   background-image: -webkit-gradient(
//     linear,
//     left top,
//     right top,
//     from(#b77dfb),
//     color-stop(50%, #5668f2),
//     color-stop(50%, #fff)
//   );
//   background-image: linear-gradient(to right, #b77dfb, #5668f2 50%, #fff 50%);
//   background-size: 200% 100%;
//   background-position: right bottom;
//   -webkit-transition: all 0.4s linear;
//   transition: all 0.4s linear;
// }

// .btnMask {
//   position: absolute;
//   top: 2px;
//   left: 2px;
//   right: 2px;
//   bottom: 2px;
//   border-radius: 3px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }

// .btnBordered .btnMask span {
//   font-size: 18px;
//   text-transform: uppercase;
//   font-weight: 900;
//   line-height: 18px;
//   margin: 0;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-transition: all 0.4s linear;
//   transition: all 0.4s linear;
//   -webkit-font-smoothing: antialiased !important;
//   -webkit-background-clip: text;
//   display: inline;
//   -webkit-text-fill-color: transparent;
//   background-image: -webkit-gradient(
//     linear,
//     left top,
//     right top,
//     from(#b77dfb),
//     color-stop(50%, #5668f2),
//     color-stop(68%, #fff)
//   );
//   background-image: linear-gradient(to right, #b77dfb, #5668f2 50%, #fff 68%);
//   background-size: 470% 100%;
//   background-position: 260% 100%;
// }

// // .button {
// //   color: #fff !important;
// //   text-transform: uppercase;
// //   text-decoration: none;
// //   background: #2979ff;
// //   padding: 20px;
// //   border-radius: 5px;
// //   display: inline-block;
// //   border: none;
// //   width: 100%;
// // }

.mt-20 {
  margin-top: 20px;
}

.mr-15 {
  margin-right: 15px;
}

label {
  font-size: 1.3em !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
