.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.close {
  color: white;
}

.user.outline {
  animation: online 2s alternate;
  // animation-direction: alternate;
}

@keyframes online {
  from {
    color: green;
  }
  to {
    color: white;
  }
}

.leftHeaderContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.mr-2 {
  margin-right: 5px !important;
}

.ml-2 {
  margin-left: 5px !important;
}

.rightHeaderContainer,
a {
  color: white;
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 3%;
}

.chatBoxTitle {
  margin-right: 5%;
}

.joinBtn {
  display: inline-block;
  // width: 100%;
  // margin-right: 0;
}
